Flask==1.1.1
tensorflow
requests
bs4==0.0.1
pandas==1.1.3
lxml
matplotlib
scipy
sklearn
beautifulsoup4
lxml
futu-api
pyti
sqlalchemy
seaborn
keras
czsc==0.7.5
tornado
brokenaxes
aligo
adata
sqlite-orm